:root{
    --main-font-family: 'Roboto', sans-serif;
    --secondary-font-family-family: 'Raleway', sans-serif;
    --accent-color: #2E2F42; 
}

.list{
    list-style-type: none;
}

.link{
    text-decoration: none;
    font-style: normal;
}

button{
    font-family: inherit;
    cursor: pointer;
}

body{
    font-family: var(--main-font-family);
    color: #434455;
    background-color: #fff;
}

.logo-web{
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4D5AE5;
    font-family: var(--secondary-font-family-family);

}

.logo-studio{
   color: #2e2f42;
}

.menu-link{
    color: var(--accent-color) ;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus{
color: #404bbf;
}

.contacts-link{
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.hero{
    background-color: var(--accent-color);
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
}

.hero-modal-button{
    color: #fff;
    width: 169px;
    height: 56px;
    left: 636px;
    top: 428px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.hero-modal-button:hover,
.hero-modal-button:focus{
    background-color: #404BBF;
}

.studio-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.studio-descr{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.work-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-transform: capitalize;
}

.contacts{
    background-color: #F4F4FD;
}

.contacts-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);
}

.contacts-item{
    background: #fff;
}

.contacts-employee{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.contacts-job{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer{
    background-color: var(--accent-color);
}


.logo-studio {
    color: #f4f4fd;
}

.footer-descr{
    color: #fff;
}

.portfolio-btn{
    color: #4D5AE5;
    width: 116px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.portfolio-btn:hover,
.portfolio-btn:focus{
    background: #404BBF;
    color: #fff;
}

.portfolio-work{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.portfolio-descr{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}